
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body class="container">
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
    <img src="~/images/nbkllogo.png" class="logo" />
    <input type="button" value="Click Me" class="btn btn-danger" />

    <h1>Welcome to book store</h1>
</body>
</html>
<script src="~/lib/jquery/jquery.js"></script>
<script>
    $(document).ready(function () {
        alert("Page loaded");
    });
</script>
